/* Author: Renda Zhang
	Class: CSCI4131
	Assignment 2 */

body {text-align: center; background-color: #808080}

nav.nav_bar {
	background-color: #00BFFF; 
	margin:0px auto; 
	text-align: left;
	width: 90%;
	line-height: 2em;
	border: 0.1px solid white;
}

nav a {
	color: white; 
	font-weight: bold; 
	text-decoration: none; 
	padding: 1em;
}

nav a:hover {text-decoration: underline;}

form div.form_type {
	background-color: #E6E6FA; 
	width: 60%; 
	margin: 0px auto;
}

form input[type=time],input[type=text], select {
	width:50%;
	padding: 1em 1.7em;
	margin: 0.5em 0;
	border: 1px solid;
}

form input[type=submit] {
	width:50%;
	padding: 1em 1.7em;
	margin: 0.5em 0;
	color:white;
	background-color: green;
}

table {
	background-color: #E6E6FA; 
	border-collapse: collapse; 
	width: 50%;
	margin:0px auto;}

table td,th {border: 0.1px solid}

table span {font-weight: bold;}

table td div {font-style: italic;}

img {width:50%; padding: 1em;}

/*Scrolling Text*/
.scroll-left {
	 width: 50%;
	 margin: 0px auto;
	 overflow: hidden;
	 position: relative;
}
.scroll-left p {
	color: white;
	width: 1000px;
	text-align: left;
	/* Starting position */
	transform:translateX(100%);
	/* Apply animation to this element */	
	animation: scroll-left 15s linear infinite;
}
@keyframes scroll-left {
	0%	
	{
		transform: translateX(50%);
	}
	100% 
	{
		transform: translateX(-70%); 
	}
}
